/* CSS Document */
body {
	background-image: url("../assets/images/background-desktop.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-size: small;
}

#main {
	text-align: center;
	color: white;
	width: 600px;
	height: auto;
	margin: auto;
	background-color: transparent;
}

#main h1 {
	font-size: 2.7em;
}

#main p {
	font-size: 1.3em;
}

#logo {
	margin: 40px auto 50px;
}

form {
	font-size: 1.2em; 
	width: 600px;
	margin: auto;
}

form #avatarField {
	margin: 10px auto 1px;
	font-size: 0.5em;
	width: inherit;
	height: 130px;
	border: dashed 2px #D4CECE;
	border-radius: 5px;
}

form #avatarButton {
	width: 35px;
	height: 30px;
	background-image: url(../assets/images/icon-upload.svg);
	background-color: transparent;
	margin: 20px auto;
}

form .label {
	display: block;
	text-align: left;
}

form #avatarFooter {
	display: flex;
	font-size: 0.3em;
	margin: 1px auto 10px;
}

form .inputBox {
	background-color: transparent;
	color: white;
	width: 600px;
	height: 40px;
	margin: 10px 0px;
	border: thin solid #DAD8D8;
	border-radius: 5px;
	pointer-events: auto; 
}

form #button {
	margin-top: 10px;
	background-color: coral;
	font-weight: bold;
}

#decButtomLeft {
	position: fixed;
	top: 400px;
	left: 0px;
}

#decTopRight {
	position: fixed;
	right: 0px;
	top: 100px;
}